
	body
	{
		background-color: #87c6be;
		margin-top: 0;
	}

	.head_tag
	{
		margin-top: 0;
	}


	.divtag
	{
		background-color: #87c6be;
		height: 450px;
		padding-top: 200px
	}



	.imgtag
	{
		width: 100%;
		height: 450px;
	}

	.header_tag
	{
		position:fixed;
		width: 100%; 
		background-color:#55a1a8;
		height: 200px;
	}


.fsize
{

font-size:40px;
}

.header_tag img
{
	width:200px;
	float:left;
}


.head1
{
	padding-top:40px;padding-left:200px;
}

.back
{
	background-color: grey;
}



.second img
{
	width=320px;height:300px;padding-top:30px

}
	ul
	{
		padding-left: 800px;
		padding-top:10px;
		text-decoration: none;
	}

	a
	{
		text-decoration: none;
		padding-top: 10px;
		font-size: 25px;
	}

	li
	{
		display:inline;  
		padding-right: 30px;
		font-size: 20px;
		color: #33025b;
	}

	.para
	{
		font-size: 20px;
	}

	.par
	{
		font-size: 17px; 
	}

	img
	{
		width: 200px;height: 200px;
	}

	.gh
	{
		background-color: #c7cccb;
		height: 150px;
		text-align: center;
	}


	.container_12
	{
		padding-top: 30px;
	}

	.fg
	{
		font-size:30px;
		padding-top:50px;
	}

	.div2
	{
		text-align: center;

		width: 100%
	}

	.img1
	{
		height: 300px;width: 300px;
	}

	

	.link
	{
		color: #0d1472;
		font-size: 30px;
		padding-top: 70px;
	}

	.footer-social
	{
		background-color: grey;
		text-align: center;
		height: 50px;
		padding-bottom: 10px;
	}

	.footer-social ul
	 {
	 	float:left; 
	 	padding:0; 
	 	margin:0;
	 }

	.footer-social li 
	{
		float:left; list-style:none; margin-left:5px;
	}

	.footer-social span {
	 float:left; 
	}

	.f
	{
		font-size:20px;
		color:black;
	}
   

   .ticon
   {
   	background-color: blue;
   	color: white;
   	height: 20px;
   	width: 20px;
   }

.div_nav
{
	padding-left:300px;padding-left:20px;
}



ul a:hover
{
	font-size: 40px;
	color: black;
}

   .ficon
   {
   	background-color: #241b87;
   	color:white;
   	height: 20px;
   	width: 20px;
   }

.sicon
{
	background-color:#3ed3d6; 
	color:white;
	height: 20px;
   	width: 20px;
}

.wicon
{
	background-color: #40d63e;
	color:white;
	height: 20px;
   	width: 20px;

}